.menu-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 45px;
    margin: 0;
    font-weight: bold;
}

.menu-item {
    font-size: 25px;
}

.menu-link {
    text-decoration: none;
}